@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(download\ \(1\).jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
    
}
/* optimization */
html,body,main{
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}
main{
    z-index: 0;
    position: relative;
    background-image: url(download\ \(1\).jpg);
    background-position: center;
    background-size: cover;    
    height: 80vh;
    width: 1300px;
    color: white;
    background-color: maroon;
    display: grid;
    grid-template-columns: 130px 1.2fr 1fr;
    grid-template-rows: 70px 1fr 1fr 50px;
    grid-template-areas: "header1 header1 header2"
                         "aside section section2"
                         "aside section section2"
                         "footer footer footer";
    row-gap: 10px;
}
main > *{
    position: relative;
    z-index: 2;
}
main::after{
    content: '';
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.9;
    z-index: 1;

}
#header1{
    grid-area: header1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15%;
}
#nav-1{
    padding: 10px;
    display: flex;
    gap: 50px;
    align-items: center;
    border: 1px solid rgba(225, 225, 225, 0.2);
    border-radius: 20px;
    background-color: transparent;
    backdrop-filter: blur(50px);
    transform-origin: left;
    animation: grow 1s cubic-bezier(0.7,0,0.3,1) forwards;
}
@keyframes grow{
    0%{
        transform: scaleX(0);
       
    }
    100%{
        transform: scaleX(1);
    }
}
#nav-1 img{
    height: 25px;
    width: 25px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    animation: rotate 1s ease-in-out 1.3s forwards;
}
@keyframes rotate {
   from{
    transform: rotate(0deg);
   }
   to{
    transform: rotate(360deg);
   }
}
#nav-1 ul{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 8px;
}
#nav-1 ul a{
    font-family: "Cinzel", serif;
    font-style: normal;
    text-transform: capitalize;
    font-size: 1.1rem;
    text-decoration: none;
    color: white;
    transition: all ease 0.3s;
    letter-spacing: -4px;
    opacity: 0;
    cursor: pointer;
    animation: spreadout 0.8s cubic-bezier(0.16,1,0.3,1) 1s forwards;
}
@keyframes spreadout {
    to{
        letter-spacing: 4px;
        opacity: 1;
    }
}
#nav-1 ul a:hover{
    color: black;
    border-bottom:1px solid rgba(225, 225, 225, 0.2) ;
    
}
#header2{
    grid-area: header2;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.search-container{
      height: 40px;
      width: 250px;
      background-color: transparent;
      border: 1px solid rgba(225, 225, 225, 0.2);
      border-radius: 40px;
      backdrop-filter: blur(50px);
      display: flex;
      justify-content:center;
      align-items: center;
      gap: 25px;
      padding-left: 10px;
      opacity: 0;
      transform: translateY(10px);
      animation: searchbarin 0.8s ease-out 1.5s forwards;
}
@keyframes searchbarin {
    to{
        opacity: 1;
        transform: translateY(0);

    }
    
}
.search-container input{
    border: none;
    background-color: transparent;
    color: white;
} 
.search-container input:focus{
    outline: none;
    color: white;
    font-size: 1rem;

}
.btn-search{
    height: 30px;
    width: 20px;
    border-radius: 40%;
    border: none;
    background-color: transparent;
    color: white;
}
.search-container input::placeholder{
    color: white;
    font-size: 1rem;
}
#aside{
    grid-area: aside;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    /* background-color: black; */
}
.aside-cylinder{
    width: 50px;
    height: 350px;
    background-color: transparent;
    backdrop-filter: blur(30px);
    border-radius: 30px;
    border:  2px solid rgba(225, 225, 225, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    transform-origin: top;
    opacity: 0;
    transform: scaleY(0);
    animation: revealdown 1s cubic-bezier(0.05, 0.7, 0.1, 1.0) 1s forwards;
    will-change: transform,opacity;
}
@keyframes revealdown {
    to{
        opacity: 1;
        transform: scaleY(1);
    }
}

.side-nav ul{

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;

}
.side-nav ul li{
    list-style: none;
}
.side-link{
    text-decoration: none;
    color:white ;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all ease-in-out 0.4s;
}
.side-link:hover{
    background-color: rgba(225, 225, 225, 0.2);
    border-radius: 10px;
    padding: 5px;
}
.side-nav ul li:nth-child(3) .side-link{
    font-size: 1.4rem;
    font-weight: 500;
}
.system-controls{
    display: flex;
    align-items: center;  
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
}
.ctrl-btn{
    background-color: transparent;
    border-radius: 10px;
    color: white;
    font-size: 1.3rem;
    border: none;
    transition: all ease-in-out 0.4s;
    padding: 5px;
}
.ctrl-btn:hover{
    background-color: rgba(225, 225, 225, 0.2);
    border-radius: 10px;
}
.aside-cylinder *{
    opacity: 0;
    animation: fadein 1s cubic-bezier(0.05,0.7,0.1,1.0) 1.4s forwards;
}
@keyframes fadein {
    to{
        opacity: 1;
    }
}
#section{
    grid-area: section;
    /* background-color: black; */
    display: flex; 
    justify-content:center ;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
}
.boxes{
    position: relative;
    background-color: transparent;
    /* backdrop-filter: blur(10px); */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    
}
#video-box{
    flex: 1;
    width: 100%;
    border: 2px solid black;
    border-radius: 40px;
    position: relative;
}
#video-box video{
    position: absolute;
    border-radius: 40px;
    object-fit: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.box2{
    flex: 1;
    width: 100%;
    background-color: black;
    position: relative;
    border-radius: 40px;
    overflow: hidden;
    
}
.box2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    border-radius: 40px;
    position: absolute;
}
.box2:hover a{
    right: 12%;

}
.box2 a{
    position: absolute;
    right: -20%;
    bottom: 10%;
    text-decoration: none;
    transition: all ease-in-out 0.5s;
}
.box2 a button{
    padding: 5px;
    background-color: transparent;
    border-radius: 50%;
    backdrop-filter: blur(3px);
    border: 1px solid rgba(225, 225, 225, 0.2);
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}
#section2{
    grid-area: section2;
    /* background-color:black; */
    border-radius: 50px;
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-right: 30px;
    
}
.box3{
    position: relative;
}
.box3 img{
    width: 100%;
    height: 350px;
    object-fit:fill;
    object-position:center;
    /* opacity: 0.5; */
    border-radius: 50px;
}
.upper-left{
    position: absolute;
    display: flex;
    align-items: center;
    justify-items: flex-start;
    gap: 16px;
    left: 5%;
    top: 8%;
    border: 2px solid rgba(225, 225, 225, 0.7);
    padding: 10px;
    border-radius: 50px;
    backdrop-filter: blur(10px);
}
.upper-left img{
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
    transition: all ease 0.5s;
}
.upper-left img:hover{
    transform: translateY(-2px);
}
.upper-left a{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    backdrop-filter: blur(4px);
    padding: 2px;
    border: 1px solid rgba(225, 225, 225, 0.7);
    background: transparent;
    border-radius: 50%;
    transition: all ease 0.5s;
}
.upper-left a:hover{
    backdrop-filter: none;
    transform: translateY(-2px);
}
.upper-right{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 9%;
    top: 11%;
    gap: 25px;
}
.upper-right a{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 900;
}
.upper-right a:nth-child(1){
    color: #E34F26;
    background-color: rgba(225, 225, 225, 0.525);
     padding: 3px;
    border-radius: 10px;
}
.upper-right a:nth-child(2){
    color: #1572B6;
    background-color: rgba(225, 225, 225, 0.525);
    padding: 3px;
    border-radius: 10px;
    
}
.links{
    position: absolute;
    bottom: 5%;
    left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.links a{
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    transition: all ease-out 0.5s;
}
.links a:hover{
    background-color: rgba(225, 225, 225, 0.525);
    border-radius: 10px;
    border: none;
    transform: translateY(-3px);
}
#footer{
    grid-area: footer;
}
/* optimixation */
.search-container,#nav-1 ul a,#nav-1 img,#nav-1{
    will-change: transform, opacity;
    backface-visibility: hidden;
    transform: translateZ(0);
}
