*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(download\ \(1\).jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
    
}
/* optimization */
html,body,main{
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}
main{
    z-index: 0;
    position: relative;
    background-image: url(download\ \(1\).jpg);
    background-position: center;
    background-size: cover;    
    height: 80vh;
    width: 1300px;
    color: white;
    background-color: maroon;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 1fr 1fr 50px;
    grid-template-areas: "header1 header1 header2"
                         "aside section section"
                         "aside section section"
                         "footer footer footer";
}
main > *{
    position: relative;
    z-index: 2;
}
main::after{
    content: '';
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.9;
    z-index: 1;

}
#header1{
    grid-area: header1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15%;
}
#nav-1{
    padding: 10px;
    display: flex;
    gap: 50px;
    align-items: center;
    border: 1px solid rgba(225, 225, 225, 0.2);
    border-radius: 20px;
    background-color: transparent;
    backdrop-filter: blur(50px);
    transform-origin: left;
    animation: grow 1s cubic-bezier(0.7,0,0.3,1) forwards;
}
@keyframes grow{
    0%{
        transform: scaleX(0);
       
    }
    100%{
        transform: scaleX(1);
    }
}
#nav-1 img{
    height: 25px;
    width: 25px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    animation: rotate 1s ease-in-out 1.3s forwards;
}
@keyframes rotate {
   from{
    transform: rotate(0deg);
   }
   to{
    transform: rotate(360deg);
   }
}
#nav-1 ul{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 8px;
}
#nav-1 ul a{
    text-transform: capitalize;
    font-size: 1.1rem;
    text-decoration: none;
    color: white;
    transition: all ease 0.3s;
    letter-spacing: -4px;
    opacity: 0;
    animation: spreadout 0.8s cubic-bezier(0.16,1,0.3,1) 1s forwards;
}
@keyframes spreadout {
    to{
        letter-spacing: 4px;
        opacity: 1;
    }
}
#nav-1 ul a:hover{
    color: black;
    border-bottom:1px solid rgba(225, 225, 225, 0.2) ;
    
}
#header2{
    grid-area: header2;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.search-container{
      height: 40px;
      width: 250px;
      background-color: transparent;
      border: 1px solid rgba(225, 225, 225, 0.2);
      border-radius: 40px;
      backdrop-filter: blur(50px);
      display: flex;
      justify-content:center;
      align-items: center;
      gap: 25px;
      padding-left: 10px;
      opacity: 0;
      transform: translateY(10px);
      animation: searchbarin 0.8s ease-out 1.5s forwards;
}
@keyframes searchbarin {
    to{
        opacity: 1;
        transform: translateY(0);

    }
    
}
.search-container input{
    border: none;
    background-color: transparent;
    color: white;
} 
.search-container input:focus{
    outline: none;
    color: white;
    font-size: 1rem;

}
.btn-search{
    height: 30px;
    width: 20px;
    border-radius: 40%;
    border: none;
    background-color: transparent;
    color: white;
}
.search-container input::placeholder{
    color: white;
    font-size: 1rem;
}
#aside{
    grid-area: aside;
}
#section{
    grid-area: section;
}
#footer{
    grid-area: footer;
}
/* optimixation */
.search-container,#nav-1 ul a,#nav-1 img,#nav-1{
    will-change: transform, opacity;
    backface-visibility: hidden;
    transform: translateZ(0);
}